* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: grey;
  font-size: 1.0rem;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 100px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}